{% extends 'base.html' %}

{% block title %}Grow Buildbot{% endblock %}

{% block body %}
  <h2><a href="{{ url_for('index')}}">Home &raquo;</a></h2>
  <h2>Recent builds</h2>
  <ul>
    {% for build in builds %}
      <li>
        <a href="{{ url_for('build', build_id=build.id)}}">build {{ build.id }}</a>:
        <strong class="status-{{ build.status }}">{{ build.status }}</strong>
        {{ build.git_url }}
        {{ build.ref }}
        {{ build.commit_sha }}
      </li>
    {% endfor %}
    <li><a href="{{ url_for('builds')}}">More &raquo;</a></li>
  </ul>
{% endblock %}
