<!DOCTYPE html>
<html>
  <title>Grow Buildbot</title>
  <style>
    body {
      font-family: monospace;
      font-size: 14px;
    }
  </style>
  <h2>Add new repository</h2>
  <form method="post" action="/api/v1/repos">
    Git URL: <input type="text" name="git_url">
    <input type="submit" value="Submit">
  </form>
  <h2>Repos</h2>
  <ul>
  {% for repo in repos %}
    <li>[<a href="/api/v1/repos/sync?id={{repo.key.id()}}">sync now</a>] {{ repo.git_url }}</li>
    <ul>
      {% for ref in repo.ref_map %}
        <li>
          [<a href="/api/v1/builds/trigger?repo_id={{ repo.key.id() }}&amp;ref={{ ref }}&amp;sha={{ repo.ref_map[ref]['sha'] }}">build now</a>]
          {{ ref }}
          ({{ repo.ref_map[ref]['sha'][0:7] }})
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  </ul>
</html>
