<!DOCTYPE html>
<html>
  <title>Grow Buildbot - Jobs</title>
  <style>
    body {
      font-family: monospace;
      font-size: 14px;
    }
  </style>
  <h2><a href="{{ url_for('builds')}}">Builds &raquo;</a></h2>
  <h2>Jobs ({{ jobs|length }})</h2>
  {% for job in jobs %}
    <ul>
      <li>{{ job.id }}: {{ job.git_url }} [<a href="{{ url_for('run_job', job_id=job.id) }}">sync now</a>]</li>
      <ul>
        {% for ref in job.ref_map %}
          <li>[<a href="{{ url_for('run_job', job_id=job.id, ref=ref, commit_sha=job.ref_map[ref]['sha']) }}">build now</a>] {{ ref }} ({{ job.ref_map[ref]['sha'][0:7] }})</li>
        {% endfor %}
      </ul>
    </ul>
  {% endfor %}
</html>
